@import './base.css';

html {
  font-size: 16px; /* base pour rem */
}
body {
  font-size: 1rem; /* = 16px par défaut */
}

/* Cacher les barres de scroll sur tous les navigateurs */
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-y: scroll; /* garde le scroll vertical actif */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, iOS */
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --back-color1-: #14191d;
  --back-color2-: #283038;
  --back-color3-: #445566;
  --back-color4-: #6c8093;
  --back-color5-: #d8dde2;

  --font-color1-: #ffffff;
  --font-color2-: #a7b8c8;
  --font-color3-: #79838c;
  --font-color4-: #14191d;

  --hover-color-: rgb(227, 234, 238);
  --warning-color-: rgb(219, 43, 30);
  --warning-color-light-: rgb(220, 68, 57);
  --save-color-: rgb(45, 157, 45);
  --save-color-light-: rgb(104, 175, 79);

  --selected-color-: rgb(242, 205, 55);

  --archive-color-: rgb(235, 212, 120);

  --active-color-: rgb(55, 158, 242);
  --header-width-: 180px;
}

main {
  background-color: var(--back-color2-);
  color: var(--font-color1-);
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 100px;
}
.wrapper {
  width: 1000px;
  margin: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}

/* buttons */
button,
a,
input,
textarea {
  -webkit-user-select: none;
  user-select: none;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  color: var(--font-color2-);
  padding: 0;
}
button:hover {
  cursor: pointer;
}

.open-form-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 8px;
  color: var(--font-color1);
  background-color: var(--save-color-);
}
.close-form-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 8px;
  color: var(--font-color1);
  background-color: var(--warning-color-);
}

.open-form-btn > p,
.close-form-btn {
  font-size: 1rem;
  font-weight: bold;
  line-height: 21px;
}
.open-form-btn > svg,
.close-form-btn > svg {
  font-size: 1.25rem;
  font-weight: bold;
}

.save-btn {
  color: var(--save-color-);
}
.delete-btn {
  color: var(--warning-color-);
}

.add-btn {
  color: var(--save-color-light-);
}
.archive-btn {
  color: var(--archive-color-);
}

.pause-btn.active {
  color: var(--active-color-);
}

/* PAGE TITLE */

.page-title {
  display: flex;
  gap: 18px;
  position: relative;
  margin-bottom: 30px;
}
.page-title > .form-btn {
  font-size: 1.875rem;
}

/* CAT SELECTOR */

.cat-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  /* margin-left: 42px; */
}
.cat-selector > button {
  font-size: 1.45rem;
}

.cat-selector > button.active {
  color: var(--selected-color-);
}

.delete-cat {
  color: var(--font-color2-);
  background-color: var(--back-color3-);

  font-weight: bold;
  border-radius: 12px;
  display: flex;
  width: fit-content;
  gap: 8px;
  padding: 8px 12px;
  border: solid 1px var(--back-color4-);
}
.delete-cat:hover {
  background-color: var(--warning-color-);
  color: var(--font-color1-);
}

/* ITEM */

.item-container {
  width: 600px;
  margin-bottom: 10px;
  padding: 6px 14px;
  background-color: var(--back-color1-);
  border: 1px solid var(--back-color3-);
  border-radius: 8px;
}
.item-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  padding: 0 8px;
}
.item-main > .title {
  color: var(--font-color2-);
  font-size: 1.75rem;
  background: none;
  border: none;
  padding: 6px 0;
  text-align: left;
  width: 100%;
}
.item-main > .title:focus {
  outline: none;
}
.item-main.active > .title {
  color: var(--font-color1-);
}
.item-main > button {
  font-size: 1.6rem;
}

.item-content {
  background-color: var(--back-color3-);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .wrapper {
    width: 100vw;

    /* border: solid 1px blue; */
    margin: 0 auto;
    margin-top: 15px;
  }

  .page-title {
    align-self: center;
  }

  /* cat-selector */
  .cat-selector {
    margin: 0 auto;
    margin-bottom: 20px;

    flex-wrap: wrap;
    justify-content: center;
  }
  .cat-selector > button {
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 20px;
  }
  .cat-selector > button.active {
    background-color: var(--back-color3-);
  }

  /* ITEM */
  .item-container {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
  }
}
