@import './base.css';

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow-y: scroll; /* garde le scroll vertical actif */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, iOS */
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --back-color1-: #14191d;
  --back-color2-: #1b2143;
  --back-color3-: #445566;
  --back-color4-: #6c8093;
  --back-color5-: #d8dde2;

  --font-color1-: #ffffff;
  --font-color2-: #a7b8c8;
  --font-color3-: #79838c;
  --font-color4-: #14191d;

  --hover-color-: rgb(227, 234, 238);
  --warning-color-: rgb(219, 43, 30);
  --warning-color-light-: rgb(220, 68, 57);
  --save-color-: rgb(45, 157, 45);
  --save-color-light-: rgb(104, 175, 79);

  --selected-color-: rgb(242, 205, 55);

  --archive-color-: rgb(235, 212, 120);

  --active-color-: rgb(55, 158, 242);

  --header-width-: 100px;
}

main {
  background-color: var(--back-color2-);
  color: var(--font-color1-);
  width: 100vw;
  min-height: 100vh;
  padding-bottom: 100px;
  margin-left: var(--header-width-);
}
.wrapper {
  width: 600px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  /* border: solid 1px blue; */
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}

/* buttons */
button,
a,
input,
textarea {
  -webkit-user-select: none;
  user-select: none;
}
button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

button {
  background: none;
  border: none;
  color: var(--font-color2-);
  padding: 0;
}
button:hover {
  cursor: pointer;
}

.open-form-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 8px;
  color: var(--font-color1);
  background-color: var(--save-color-);
}
.close-form-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 8px;
  color: var(--font-color1);
  background-color: var(--warning-color-);
}

.open-form-btn > p,
.close-form-btn {
  font-size: 1rem;
  font-weight: bold;
  line-height: 21px;
}
.open-form-btn > svg,
.close-form-btn > svg {
  font-size: 1.25rem;
  font-weight: bold;
}

.save-btn {
  color: var(--save-color-);
}
.delete-btn {
  color: var(--warning-color-);
}

.add-btn {
  color: var(--save-color-light-);
}
.archive-btn {
  color: var(--archive-color-);
  padding: 0 8px;
}
.clipboard-btn {
  transition: color 0.3s ease;

  color: var(--archive-color-);
}
.clipboard-btn.copied {
  color: var(--active-color-);
}

.pause-btn.active {
  color: var(--active-color-);
}

/* PAGE Header */

.page-header {
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  position: fixed;
  width: 600px;
  background-color: var(--back-color2-);
}
.page-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
  padding-left: 17px;
}
.page-title > h1 {
  font-family:
    'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.page-main {
  margin-top: 130px;
  margin-bottom: 30px;
}

/* ITEM */

.item-container {
  width: 100%;
  margin-bottom: 2px;
  padding: 2px 2px;
  background-color: var(--back-color1-);
  border: 1px solid var(--back-color3-);
  border-radius: 8px;
}
.item-main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  cursor: pointer;
  padding: 0 8px;
}
.item-main > .title {
  color: var(--font-color2-);
  font-size: 1.15rem;
  background: none;
  border: none;
  padding: 6px 0;
  padding-left: 10px;
  width: 100%;
}
.item-main > .title:focus {
  outline: none;
}
.item-main.active > .title {
  color: var(--font-color1-);
}
.item-main > button {
  font-size: 1.15rem;
}

.item-content {
  background-color: var(--back-color3-);
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}

/* snippet */

textarea::placeholder {
  color: var(--back-color3-);
}

.snippet-description,
.snippet {
  flex: 1;
  padding: 5px;
  background-color: var(--back-color4-);

  box-shadow: inset 0px 0px 4px var(--back-color2-);
  border: 1px solid var(--back-color1-);

  color: var(--font-color4-);
  font-size: 1.125rem;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
  min-height: 28px;
  font-family: inherit;
  width: 100%;
}
.snippet-description {
  font-style: italic;
}
.snippet {
  margin: 10px 0;
}
.snippet-description:focus,
.snippet:focus {
  background-color: var(--back-color5-);
}
.snippet-footer {
  display: flex;
  justify-content: space-around;
}
.snippet-footer > .delete-btn {
  font-size: 1.4rem;
  display: flex;
}

.snippet-category {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  padding-right: 1rem;
  color: var(--selected-color-);
  font-size: 1.1rem;
  text-align: left;
  align-self: flex-start;
  margin-top: 4px;
}
.snippet-category:hover {
  cursor: pointer;
}
.snippet-category:focus {
  outline: none;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .wrapper {
    width: 100vw;

    margin: 0 auto;
  }
  main {
    margin-left: 0;
  }

  .page-header {
    width: 100%;
  }

  /* ITEM */
  .item-container {
    margin: 0 auto;
    margin-bottom: 2px;
    width: 98%;
  }
}
