@media screen and (max-width: 768px) and (orientation: portrait) {
  .wrapper {
    width: 100vw;

    /* border: solid 1px blue; */
    margin: 0 auto;
    margin-top: 15px;
  }

  .page-title {
    align-self: center;
  }
  .open-form-btn {
    background-color: var(--save-color-);
    color: var(--font-color1);
  }
  .archive-btn {
    color: var(--active-color-);
  }
  .delete-btn {
    color: var(--warning-color-);
  }
  .add-btn {
    color: var(--save-color-light-);
  }

  /* cat-selector */
  .cat-selector {
    margin: 0 auto;
    margin-bottom: 20px;

    flex-wrap: wrap;
    justify-content: center;
  }
  .cat-selector > button {
    font-size: 1rem;
    padding: 6px 10px;
    border-radius: 20px;
  }
  .cat-selector > button.active {
    background-color: var(--back-color3-);
  }

  /* Project */

  .project-container,
  .project-form {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 90%;
  }

  .project > .title {
    font-size: 1.35rem;
    width: 100%;
    color: var(--font-color1);
  }
  .project > button {
    font-size: 1.4rem;
  }
  .project > .archive-btn {
    margin-left: 0px;
  }
  .task {
    margin-bottom: 3px;
  }
  .task > input {
    padding: 3px;
    background-color: var(--back-color5-);
    font-size: 1rem;
  }

  .task.done > button:last-of-type > svg {
    color: var(--warning-color-);
  }

  /* project Form */

  .project-form {
    height: fit-content;
    padding: 12px;
    margin-bottom: 30px;
  }

  .project-form > .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .project-form > .project > div {
    width: 100%;
    justify-content: center;
    gap: 50px;
  }

  .project-form > .project .project-select {
    padding: 6px 0;
  }

  .project-form svg {
    color: var(--save-color-light-);
  }

  /* snippets */

  .snippet-container {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .delete-cat {
    margin: 0 auto;
    margin-top: 40px;
  }
}
